streamlit>=1.30.0
chromadb>=0.4.22
duckduckgo-search>=4.4.1
openai>=1.10.0
python-dotenv>=1.0.1
sentence-transformers>=2.3.0


    else:

        st.balloons()
        st.success(
            "🎉 Quiz Completed!"
        )
        score = st.session_state.score
        percentage = (
            score / total_questions
        ) * 100 
        if not st.session_state.result_saved:

            save_quiz_result(
                sport=sport,
                difficulty=difficulty,
                score=score,
                total_questions=total_questions
            )

        else:

            st.balloons()

            st.success(
                "🎉 Quiz Completed!"
            )

            score = st.session_state.score

            percentage = (
                score / total_questions
            ) * 100

    # Save result only once
    if not st.session_state.result_saved:

        save_quiz_result(
            sport=sport,
            difficulty=difficulty,
            score=score,
            total_questions=total_questions
        )

        st.session_state.result_saved = True
    else:

        st.balloons()

        st.success(
            "🎉 Quiz Completed!"
        )

        score = st.session_state.score

        percentage = (
            score / total_questions
        ) * 100

    if not st.session_state.result_saved:

        save_quiz_result(
            sport=sport,
            difficulty=difficulty,
            score=score,
            total_questions=total_questions
        )

        st.session_state.result_saved = True


        st.subheader(
            f"🏆 Your Score: "
            f"{score}/{total_questions}"
        )

        st.metric(
            "Percentage",
            f"{percentage:.0f}%"
        )

        st.session_state.result_saved = True
        st.subheader(
            f"🏆 Your Score: "
            f"{score}/{total_questions}"
        )


        st.metric(
            "Percentage",
            f"{percentage:.0f}%"
        )


        if percentage >= 80:

            st.success(
                "🔥 Excellent Performance!"
            )

        elif percentage >= 50:

            st.info(
                "👍 Good Job! Keep Practicing."
            )

        else:

            st.warning(
                "📚 Keep Learning and Try Again!"
            )


        # ---------------------------------
        # Restart Quiz
        # ---------------------------------

        if st.button(
            "🔄 Restart Quiz",
            use_container_width=True
        ):

            st.session_state.questions = questions
            st.session_state.context = context
            st.session_state.current_question = 0
            st.session_state.score = 0
            st.session_state.quiz_started = True
            st.session_state.answer_submitted = False
            st.session_state.selected_answer = None
            st.session_state.result_saved = False
            st.rerun()


